body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

ul {
	list-style: none;
}

h1, h2, h3 {
	font-weight: 400;
}

header {
	background-color: #ddd;
	position: fixed;
	width: 100%;
	text-align: right;
	position: relative;
	height: 60px;
}

header h1 {
	position: absolute;
	left: 20px;
}

.topnav {
	margin: 0 20px;
}

h1, .topnav {
	font-size: 24px;
	display: inline-block;
}

.topnav ul {
	margin-top: 15px;
}

.topnav ul li {
	display: inline-block;
	margin-left: 24px;
}

.topnav ul li a {
	color: purple;
	text-decoration: none;
}

section {
	margin-left: 120px;
	margin-top: 80px;
}

input {
	font-size: 18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	width: 500px;
	padding: 5px 10px;
}

img {
	height: 30px;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	vertical-align: bottom;
}

section nav ul li, article h2, article h3 {
	display: inline-block;
}

section nav ul {
	padding-left: 0;
	margin: 0;
	font-size: 0;
}

section nav ul li {
	font-size: 16px;
	margin: 60px 0 40px 0;
	border: 1px solid #ddd;
	padding: 10px 15px;
	text-decoration: none;
}

section nav ul li a {
	text-decoration: none;
	color: black;
}

section nav ul li:first-child {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

section nav ul li:first-child::before {
	content: "< "
}

section nav ul li:last-child {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

section nav ul li:nth-child(2) {
	padding: 10px 25px;
}

section nav ul li:last-child::after {
	content: " >"
}

h2, h3 {
	margin: 10px 0;
}





